
// You must add this on a component based drawer
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer-text i {
  color: var(--drawer-text-color);
  font-size: 16px;
}

.drawer-text:hover i {
  color: var(--drawer-text-color)
}

