.number {
  position: absolute;
  top: 75%;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.indicator {
  position: relative;
  font-weight: 500;
  z-index: 10;
  color: var(--primary-color);
  animation: MoveUpDown 1s linear infinite;
}
