@use '../../../card-item-common';

.user-rating-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 5;
  
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  color: #fff;
  
  display: flex;
  align-items: center;
  gap: 4px;
  
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  pointer-events: none;
}

.user-rating-badge i {
  font-size: 0.7rem;
  color: #ffc107; /* Bootstrap warning color (Yellow/Gold) */
}

.status-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  color: #fff;

  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  pointer-events: none;
}
