@use '../../../theme/variables' as theme;

.custom-position {
  right: 15px;
  top: -42px;
}

.table {
  @media (max-width: theme.$grid-breakpoints-sm) {
    overflow-x: auto;
    width: 100% !important;
    display: block;
  }
  .btn-container {
    @media (max-width: theme.$grid-breakpoints-lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .btn {
      width: 32px;
    }
  }
}
